@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face{
	font-family: "Standard Blackletter";
	font-weight: 700;
	src: url("standard-blackletter.otf") format("opentype");
}

i i,
i em,
em i,
em em{
	font-style: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote header{
	text-align: center;
	font-variant: small-caps;
	margin-bottom: 1em;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.blackletter{
	font-family: "Standard Blackletter", serif;
	font-variant: normal;
	font-weight: 700;
}

.indent{
	text-indent: 0;
	margin-left: 8em;
}
.indent + p{
	text-indent: 0;
}

.signature,
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:recipient"]{
	font-variant: normal;
	font-style: italic;
}

[epub|type~="z3998:verse"] footer{
	text-align: center;
}

[epub|type~="z3998:song"] > p,
[epub|type~="z3998:verse"] > p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] > p > span,
[epub|type~="z3998:verse"] > p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] > p > span + br,
[epub|type~="z3998:verse"] > p > span + br{
	display: none;
}

[epub|type~="z3998:song"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

[epub|type~="dedication"] footer > p:first-child{
	text-align: center;
	margin-left: 50%;
}

#chapter-1-4 > p > span{
	display: block;
}

@supports(display: flex){
	#chapter-1-4 > p > span{
		display: flex;
		align-items: center;
		margin-left: 1em;
		text-indent: 0;
	}
	#chapter-1-4 > p > span::before{
		content: "";
		width: 20%;
		border-bottom: 1px solid;
		height: 0;
	}
	#chapter-1-4 > p > span::after{
		content: "";
		border-bottom: 1px solid;
		height: 0;
		flex-grow: 1;
	}
}

#chapter-1-8 footer > p:first-child{
	font-style: italic;
}

#illustration-1{
	page-break-before: always;
	page-break-after: always;
	margin-bottom: 0;
}
#illustration-1 img{
	height: 100vh;
}
#chapter-1-12 blockquote{
	text-align: center;
}
#chapter-1-12 blockquote > p{
	display: inline-block;
	text-indent: 0;
}
#chapter-1-12 blockquote:first-of-type > p{
	border: 1px solid;
	padding: 0.5em 1em;
}

#chapter-2-17 blockquote header b{
	text-transform: uppercase;
}
#chapter-2-17 blockquote [epub|type~="z3998:roman"]{
	font-variant: normal;
}
#chapter-2-17 blockquote > header > p + p{
	font-variant: normal;
	font-style: italic;
	margin-top: 0.5em;
}
#chapter-2-17 blockquote > header em{
	font-style: normal;
}
#chapter-2-17 blockquote ~ blockquote{
	margin-left: 0;
	margin-right: 0;
}
#chapter-2-17 blockquote ~ blockquote p:last-child{
	text-align: center;
	margin-top: 0.5em;
}

@supports(display: flex){
	.maledictus-lines > span:first-child{
		display: flex;
		align-items: center;
	}
	.maledictus-lines > span:first-child::after{
		content: "";
		border-bottom: 1px solid;
		height: 0;
		flex-grow: 1;
	}
	.maledictus-lines > span:first-child ~ span{
		display: flex;
		justify-content: space-around;
		text-indent: 0;
	}
}

#illustration-2{
	page-break-before: always;
	page-break-after: always;
	margin: 0;
}
#illustration-2 img{
	height: 100vh;
}

@supports(display: flex){
	#chapter-4-12 p:last-child{
		display: flex;
		align-items: center;
		text-indent: 0;
	}
	#chapter-4-12 p:last-child > span:first-child > span{
		display: block;
		white-space: nowrap;
	}
	#chapter-4-12 p:last-child > span:last-child::before{
		content: "\007d";
		font-size: 2em;
		vertical-align: middle;
		margin: 0 0.25em;
	}
}

@supports(display: flex){
	#chapter-4-27 > p > b{
		display: flex;
		align-items: center;
		margin-left: 1em;
		text-indent: 0;
	}
	#chapter-4-27 > p > b::after{
		content: "";
		border-bottom: 1px solid;
		height: 0;
		flex-grow: 1;
	}
	#chapter-4-27 > p > span{
		display: flex;
		align-items: center;
	}
	#chapter-4-27 > p > span::before{
		content: "\200b"; /* zero-width space to fix line-height of parent row */
	}
	#chapter-4-27 > p > span::after{
		content: "";
		border-bottom: 1px solid;
		height: 0;
		flex-grow: 1;
	}
}

#slawkenbergius-en > p:last-child{
	text-align: center;
	text-indent: 0;
	margin-top: 1em;
}

#slawkenbergius-en > p:last-child > b:first-child{
	font-variant: all-small-caps;
}

@supports(display: flex){
	#chapter-5-1-the-fragment p:first-of-type{
		text-indent: 0;
	}
	#chapter-5-1-the-fragment p:first-of-type > span{
		display: flex;
		justify-content: space-between;
	}
}

@supports(display: flex){
	#chapter-5-10 p > span{
		display: flex;
		justify-content: space-between;
		white-space: nowrap;
	}
}

@supports(display: flex){
	#chapter-5-27 p{
		text-indent: 0;
	}
	#chapter-5-27 p > span{
		display: flex;
		justify-content: space-between;
	}
}

@supports(display: flex){
	#chapter-5-31 p > span,
	#chapter-5-32 p > span{
		display: flex;
		justify-content: space-between;
	}
}

#chapter-5-37 p > span{
	display: inline-block;
	width: 5em;
	text-align: center;
}

#chapter-6-11 blockquote{
	text-indent: 0;
	text-align: center;
	margin: 0;
}

#chapter-6-14 p > span:first-of-type > span{
	display: inline-block;
	width: 5em;
	text-align: center;
	text-indent: 0;
}

@supports(display: flex){
	#chapter-6-14 p > span ~ span{
		display: flex;
		justify-content: space-between;
		text-indent: 0;
	}

	#chapter-6-14 p > span:last-child > span{
		flex-grow: 1;
	}

	#chapter-6-14 p > span:last-child > span:last-child{
		flex-grow: 4;
	}
}

@supports(display: flex){
	#chapter-6-17 p > span{
		display: flex;
		justify-content: space-between;
		text-indent: 0;
	}

	#chapter-6-17 p > span:last-child > span:last-child{
		margin-right: 42.25%;
	}
}

#chapter-6-19 ul{
	list-style-type: none;
	margin: 0 0 0 3em;
	padding: 0;
}

#chapter-6-19 div{
	display: flex;
}

#chapter-6-19 > div > ul{
	margin-left: 0.5em;
}

#chapter-6-19 > div:first-of-type li:last-child,
#chapter-6-19 > div:last-of-type li:last-child{
	margin-left: -2em;
}

#chapter-6-31 blockquote > p{
	text-align: center;
	text-indent: 0;
}

#chapter-6-34 p > span{
	display: inline-block;
	width: 3em;
	text-align: center;
	text-indent: 0;
}

#chapter-6-38 > div{
	page-break-before: always;
	page-break-after: always;
	min-height: 10em;
}

@supports(display: flex){
	#chapter-6-39 p > span{
		display: flex;
		justify-content: space-between;
		text-indent: 0;
	}

	#chapter-6-39 p > span:last-child > span:last-child{
		margin-right: 28.25%;
	}
}

#illustration-3 img,
#illustration-4 img{
	width: 90%;
}

@supports(display: flex){
	#chapter-7-8 p:nth-last-child(2){
		display: flex;
		align-items: center;
		text-indent: 0;
	}
	#chapter-7-8 p:nth-last-child(2) > span:first-child::after{
		content: "{";
		font-size: 2em;
		vertical-align: middle;
		margin: 0 0.25em;
	}
	#chapter-7-8 p:nth-last-child(2) > span:last-child > span{
		display: block;
	}
	#chapter-7-8 p:last-child{
		text-indent: 0;
	}
}

#chapter-7-10 tr:first-child{
	font-style: italic;
}

#chapter-7-18 [epub|type~="z3998:verse"] p,
#chapter-7-30 blockquote p,
#chapter-7-32 blockquote p,
#chapter-7-43 blockquote:first-of-type p{
	text-align: center;
	font-variant: all-small-caps;
}

#chapter-7-19 blockquote p{
	text-align: center;
	text-indent: 0;
}

#chapter-7-25 td{
	padding: 0;
}
#chapter-7-25 td[rowspan]{
	font-size: 2em;
	padding: 0 .25em;
}

@supports(display: flex){
	#chapter-7-31 .brace{
		display: flex;
		align-items: center;
	}
	#chapter-7-31 .brace > span:first-child > span{
		display: block;
	}
	#chapter-7-31 .brace > span:last-child::before{
		content: "\007d";
		font-size: 2em;
		vertical-align: middle;
		margin: 0 0.25em;
	}
}

#chapter-7-35 blockquote > p{
	text-indent: 0;
	text-align: center;
}

#chapter-7-43 [epub|type~="z3998:song"]{
	font-variant: small-caps;
}

#chapter-8-13 p > span{
	display: inline-block;
	width: 1.2em;
	text-indent: 0;
}

#chapter-8-19 blockquote > p{
	text-indent: 0;
	text-align: center;
	font-variant: small-caps;
}

#chapter-8-20 p > span{
	display: inline-block;
	width: 2em;
	text-align: center;
	text-indent: 0;
}

#illustration-5 img{
	width: 80%;
}

#chapter-9-20 p > span,
#chapter-9-22 p > span{
	display: inline-block;
	width: 3em;
	text-align: center;
	text-indent: 0;
}

@supports(display: flex){
	#chapter-9-28 p > span{
		display: flex;
		justify-content: space-between;
		text-indent: 0;
	}

	#chapter-9-28 p > span:last-child > span:last-child{
		margin-right: 60.75%;
	}
}
